{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Appvila</title>
  <link rel="stylesheet" href="{% static 'css/style.css'%}">
  <script src="https://kit.fontawesome.com/46ac050ef0.js" crossorigin="anonymous"></script>
</head>
<body>
  <!--Home-->
      <div class="home">
        <!--Header-->
        <div class="header" id="header"> <!-- Added id attribute here -->
          <img src="..//..//static/images/white-logo.svg" alt="" class="logo" id="logo">
          <ul class="compo">
            <li><a href="#">Home</a></li>
            <li><a href="#features">Features</a></li>
            <li> <a href="#overview">Overivew</a></li>
            <li><a href="#pricing">Pricing</a></li>
            <li><a href="#team">Team</a></li>
            <li><a href="#blog">Blog</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
          <button class="get-it-now" id="get-it-now">Get It Now</button>
        </div>
        <!--Hero-->
        <div class="hero">
          <div class="left">
            <p class="name">A Powerful App For Your Business.</p>
            <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. In nostrum adipisci assumenda molestias veritatis ratione earum, minus dolor nisi illo molestiae est magni laudantium placeat exercitationem voluptatibus totam temporibus dolorem?</p>
             <div class="buttons" >
              <button>App Store</button>
              <button>Google Pay</button>
             </div>
          </div>
          <div class="right">
            <img src="..//..//static/images/phone.png" alt="">
          </div>
        </div>
      </div>
      <!--Features-->
      <div class="features" id="features">
        <div class="top-f">
          <p class="f-name">FEATURES</p>
          <p  class="f-text">Your Experience Gets Better And Better Over Time.</p>
          <p class="f-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta illo corporis molestiae id. Quia maiores sint eveniet voluptatum eos illo enim.</p>
        </div>
        <div class="bottom-f">
          <div class="card">
            <div class="card-1"></div>
            <p class="card-2">Push to Deploy</p>
            <p class="card-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui ipsa nemo odit impedit nihil sapiente distinctio nesciunt.</p>
          </div>
          <div class="card">
            <div class="card-1"></div>
            <p class="card-2">Push to Deploy</p>
            <p class="card-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui ipsa nemo odit impedit nihil sapiente distinctio nesciunt.</p>
          </div>
          <div class="card">
            <div class="card-1"></div>
            <p class="card-2">Push to Deploy</p>
            <p class="card-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui ipsa nemo odit impedit nihil sapiente distinctio nesciunt.</p>
          </div>
          <div class="card">
            <div class="card-1"></div>
            <p class="card-2">Push to Deploy</p>
            <p class="card-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui ipsa nemo odit impedit nihil sapiente distinctio nesciunt.</p>
          </div>
          <div class="card">
            <div class="card-1"></div>
            <p class="card-2">Push to Deploy</p>
            <p class="card-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui ipsa nemo odit impedit nihil sapiente distinctio nesciunt.</p>
          </div>
          <div class="card">
            <div class="card-1"></div>
            <p class="card-2">Push to Deploy</p>
            <p class="card-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui ipsa nemo odit impedit nihil sapiente distinctio nesciunt.</p>
          </div>
        </div>
      </div>
      <!--Overview 1-->
     <div class="overview" id="overview">
        <div class="over-l">
          <div class="over-l1"></div>
          <p class="over-l2">1,25,000 Customers using The Application!</p>
          <p class="over-l3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem quidem, corporis fugiat laudantium modi, similique iusto voluptates hic ratione facere labore fuga, esse qui ist.</p>
          <button class="over-l4">Get Started</button>
        </div>
        <div class="over-r">
          <img src="..//..//static/images/over1.png" alt="">
        </div>
      </div>
       <!--Overview 2-->
     <div class="overview">
      <div class="over2-l">
        <img src="..//..//static/images/over2.png" alt="">
      </div>
      <div class="over2-r">
        <div class="over2-r1"></div>
        <p class="over2-r2">5 Star ⭐Reviews by Customers on using The Application!</p>
        <p class="over2-r3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem quidem, corporis fugiat laudantium modi, similique iusto voluptates hic ratione facere labore fuga, esse qui ist.</p>
        <button class="over2-r4">Get Started</button>
      </div> 
    </div>
    <!--Pricing-->
    <div class="pricing" id="pricing">
      <div class="top-p">
        <p class="p-name">PRICING</p>
        <p  class="p-text">Pricing Plan</p>
        <p class="p-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta illo corporis molestiae id. Quia maiores sint eveniet voluptatum eos illo enim.</p>
      </div>
      <div class="bottom-p">
        <div class="plan">
          <div class="plan-1">
            <p class="plan-11">Hobby</p>
            <p class="plan-12">All the basics for starting a new business.</p>
            <div class="plan-13"><span>$12</span><span>/mo</span></div>
            <button class="plan-14">Buy Hobby</button>
          </div>
          <div class="plan-2">
            <p class="plan-21">What's Included</p>
            <ul class="plan-22">
              <li>ras asdnalkdn</li>
              <li>ansdln; aoksd ad pladasdas</li>
              <li>hjjp xo Jxsc </li>
              <li>mzwqwo  kmdsa doa pwew</li>
            </ul>
          </div>
        </div>
        <div class="plan">
          <div class="plan-1">
            <p class="plan-11">Freelancer</p>
            <p class="plan-12">All the basics for starting a new business.</p>
            <div class="plan-13"><span>$24</span><span>/mo</span></div>
            <button class="plan-14">Buy Freelancer</button>
          </div>
          <div class="plan-2">
            <p class="plan-21">What's Included</p>
            <ul class="plan-22">
              <li>ras asdnalkdn</li>
              <li>ansdln; aoksd ad pladasdas</li>
              <li>hjjp xo Jxsc </li>
              <li>mzwqwo  kmdsa doa pwew</li>
            </ul>
          </div>
        </div>
        <div class="plan">
          <div class="plan-1">
            <p class="plan-11">Startup</p>
            <p class="plan-12">All the basics for starting a new business.</p>
            <div class="plan-13"><span>$18</span><span>/mo</span></div>
            <button class="plan-14">Buy Startup</button>
          </div>
          <div class="plan-2">
            <p class="plan-21">What's Included</p>
            <ul class="plan-22">
              <li>ras asdnalkdn</li>
              <li>ansdln; aoksd ad pladasdas</li>
              <li>hjjp xo Jxsc </li>
              <li>mzwqwo  kmdsa doa pwew</li>
            </ul>
          </div>
        </div>
        <div class="plan">
          <div class="plan-1">
            <p class="plan-11">Enterprise</p>
            <p class="plan-12">All the basics for starting a new business.</p>
            <div class="plan-13"><span>$48</span><span>/mo</span></div>
            <button class="plan-14">Buy Enterprise</button>
          </div>
          <div class="plan-2">
            <p class="plan-21">What's Included</p>
            <ul class="plan-22">
              <li>ras asdnalkdn</li>
              <li>ansdln; aoksd ad pladasdas</li>
              <li>hjjp xo Jxsc </li>
              <li>mzwqwo  kmdsa doa pwew</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--Team-->
    <div class="team" id="team">
      <div class="top-t">
        <p class="t-name">TEAM</p>
        <p  class="t-text">Meet Our Team</p>
        <p class="t-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta illo corporis molestiae id. Quia maiores sint eveniet voluptatum eos illo enim.</p>
      </div>
      <div class="bottom-t">
        <div class="teams">
          <img src="..//..//static/images/team1.jpg" alt="" class="team-1">
          <div class="teams-2">
            <p class="">Leonard Kranet</p>
            <p class="">Senior Designer</p>
          </div>
        </div>
        <div class="teams">
          <img src="..//..//static/images/team2.jpg" alt="" class="team-1">
          <div class="teams-2">
            <p class="">Jonanthan Sams</p>
            <p class="">Senior Engineer</p>
          </div>
        </div>
        <div class="teams">
          <img src="..//..//static/images/team3.jpg" alt="" class="team-1">
          <div class="teams-2">
            <p class="">Hawkins Greeth</p>
            <p class="">Senior Designer</p>
          </div>
        </div>
      </div>
    </div>
    <!--Blog-->
    <div class="blog" id="blog">
      <div class="top-b">
        <p class="b-name">BLOG</p>
        <p  class="b-text">Our Lastest News</p>
        <p class="b-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta illo corporis molestiae id. Quia maiores sint eveniet voluptatum eos illo enim.</p>
      </div>
      <div class="bottom-b">
        <div class="blogs">
          <img src="..//..//static/images/blog-1.jpg" alt="" class="blogs-1">
          <div class="blogs-2"></div>
          <p class="blogs-21">Blog</p>
          <p class="blogs-22">Boost your conversion rate</p>
          <p class="blogs-23">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure corrupti hic consequuntur praesentium pariatur! Distinctio nam est dolorem? Ipsa asperiores</p>
          <div class="blogs-3">
            <img src="..//..//static/images/comment1.jpg" alt="" class="blogs-31">
            <div class="blogs-32">
              <p class="blogs-32-1">Rool Aufderhar</p>
              <div class="blogs-32-2"><p>Mar 8,2025</p>
                <div></div>
              <p>5 min read</p></div>
            </div>
        </div>
        </div>
        <div class="blogs">
          <img src="..//..//static/images/blog-2.jpg" alt="" class="blogs-1">
          <div class="blogs-2"></div>
          <p class="blogs-21">Blog</p>
          <p class="blogs-22">Boost your conversion rate</p>
          <p class="blogs-23">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure corrupti hic consequuntur praesentium pariatur! Distinctio nam est dolorem? Ipsa asperiores</p>
          <div class="blogs-3">
            <img src="..//..//static/images/comment1.jpg" alt="" class="blogs-31">
            <div class="blogs-32">
              <p class="blogs-32-1">Jonanthan Greek</p>
              <div class="blogs-32-2"><p>Jan 1,2025</p>
                <div></div>
              <p>2 months ago</p></div>
            </div>
          </div>
        </div>
        
        <div class="blogs">
          <img src="..//..//static/images/blog-3.jpg" alt="" class="blogs-1">
          <div class="blogs-2"></div>
          <p class="blogs-21">Blog</p>
          <p class="blogs-22">Boost your conversion rate</p>
          <p class="blogs-23">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure corrupti hic consequuntur praesentium pariatur! Distinctio nam est dolorem? Ipsa asperiores</p>
          <div class="blogs-3">
            <img src="..//..//static/images/comment1.jpg" alt="" class="blogs-31">
            <div class="blogs-32">
              <p class="blogs-32-1">Sanjay Roger</p>
              <div class="blogs-32-2"><p>Mar 25,2024</p>
                <div></div>
              <p>9 months ago</p></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Footer-->
    <div class="footer" id="contact">
      <div class="footer-top">
        <div class="top-left">
          <img src="..//..//static/images/white-logo.svg" alt="" class="top-1">
          <span class="top-2">Making the world a better place throught constructing elegant hierarhcies..</span><span class="top-3">Desgined and Developed by Ukhled.</span>
        </div>
        <div class="top-right">
          <ul class="right-ul">
            <li>Solutions</li>
            <li>Marketing</li>
            <li>Designing</li>
            <li>Developing</li>
            <li>IT Consulting</li>
          </ul>
          <ul class="right-ul">
            <li>Pricing</li>
            <li>Bitcoin</li>
            <li>Credit Card</li>
            <li>Promotion</li>
            <li>IT Industry</li>
          </ul>
          <ul class="right-ul">
            <li>Solonoid</li>
            <li>Stratgies</li>
            <li>City</li>
            <li>Location</li>
            <li>IT Consulting</li>
          </ul>
          <ul class="right-ul">
            <li>Shopping</li>
            <li>Details</li>
            <li>Designing</li>
            <li>About Us</li>
            <li>Contact Us</li>
          </ul>
        </div>
      </div>
      <div class="footer-bottom">
          <div class="footer-main">
          <div class="footer-left">
            <p class="left-1">Appvila</p>
            <p class="left-2">© 2021 Appvila. All Rights Reserved.</p>
            <br>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-linkedin"></i>
          </div>
        
        </div>
      </div>
    </div>

      <script>
        let lastScroll = window.scrollY;
        const header=document.getElementById("header");
        const logo=document.getElementById("logo");
        const button=document.getElementById("get-it-now");

        window.addEventListener("scroll",function(){
          let currentScroll=window.scrollY;
          if (currentScroll>lastScroll){
            header.classList.add("scrolled");
            logo.src = "{% static 'images/logo.svg' %}";
            button.classList.add("scroll-button");
          }
          else{
            header.classList.remove('scrolled');
            logo.src="{% static 'images/white-logo.svg'%}";
            button.classList.remove("scroll-button");
          }
        })
      </script>
</body>
</html>